%html
  = render partial: 'layouts/head'
  %body
    #loading{ style: 'display:none;' }
    #container
      / %header#header.clearfix= render partial: 'layouts/header'

      #flashes
      .container.home-container
        .row
          .sidebar.col-md-5.col-sm-12{:style =>"left: 0px;"}
          .col-md-7.col-sm-12.col-md-offset-5.main-content
            .nav
              = link_to "Posts", "#posts", class: "select_posts"
              = link_to "Authors", "#authors", class: "select-categories"
            .content
              = yield
    = render partial: 'layouts/javascripts'
